/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

//main
// .container{
//   margin: ;
// }

.row{
  margin: 0 -15px;
}

//form
.form_group{
  margin-bottom: 1rem;
}

.book_title, .book_option{
  display: inline-block;
  margin-bottom: 0.5rem;
}
tbody>tr>th{
  font-weight: normal;
}

div.field, div.actions {
  margin-bottom: 10px;
}

.error_explantation {
  color: red;
}

#notice{
  color: green;
}

p{
  margin-top: 0;
  margin-bottom: 1rem;
}